<template>
  <q-page class="container">
    <q-carousel
    color="black"
    arrows
    class="carousel"
    >
      <q-carousel-slide class="bg-primary">
        Slide 1
      </q-carousel-slide>
      <q-carousel-slide class="bg-secondary">
        Slide 2
      </q-carousel-slide>
      <q-carousel-slide class="bg-tertiary">
        Slide 3
      </q-carousel-slide>
    </q-carousel>
    <div class="form ">
      <q-input class="" v-model="computedText" placeholder="Entrez un mot"/>
      <div v-show="text">
        <p>resultat : {{ text }}</p>
      </div>
      <q-btn
        ref="button"
        v-on:click="click()"
        class="button-send"
        icon-right="check"
        color="teal"
        label="Envoyer"
      />
    </div>
  </q-page>


</template>


<script>


export default {
  name: 'PageHome',
  data() {
    return {
      computedText: '',
      text: '',
      opened: false,
    };
  },
  mounted() {
    console.log(this.text);
  },
  methods: {
    click() {
      this.text = this.computedText.split('').reverse().join('');
    },
  },
};
</script>
<style scoped lang="scss">
.container {

  .carousel {

    width: 100%;
    height: 400px;

  }

  .form{
    position: relative;
    width: 50%;
    margin: 100px auto;

    .button-send {
      position: absolute;
      right: 0;
      margin: 50px 0;
    }
  }

}
</style>
