<template>
<q-page class="flex flex-center row col-md-12 q-ma-sm">
    <div class="card-container flex flex-center q-ma-sm col-md-12 row">
      <q-card inline class="bigger q-ma-sm col-md-8">
      <q-card-media>
        <img class="card-img" src="../assets/maquette.png">
      </q-card-media>
      <q-card-separator />
      <q-card-title>
        <div>Maquette</div>
        <div slot="right" class="row items-center">
        </div>
      </q-card-title>
      <q-card-main>
        <p>
          Voici ma proposition graphique pour la partie 2 du test d'integration.<br/>
          Le fichier "PSD" est téléchargable.
          </p>
      </q-card-main>
      <q-card-separator />
      <q-card-actions>
        <q-btn flat color="primary">
          <a
            style="text-decoration: none;"
            href="https://gitlab.com/HardshOw/i2h_test/blob/master/src/assets/maquette.psd"
          >
            Telecharger le PSD
          </a>
        </q-btn>
      </q-card-actions>
    </q-card>
    </div>
  </q-page>
</template>

<style scoped lang="scss">
.card-container {
  width: 100%;

}

.card-img {
  height: auto;
}
</style>

<script>
export default {
  name: 'Page3',
};
</script>
