<template>
    <nav class="nav-container">
        <ul class="nav-list">
            <li v-for="item in navItems"  :key="item.name" class="nav-list-item" >
                <router-link :to="item.path">{{ item.name }}</router-link>
            </li>
        </ul>
        <q-modal v-model="opened" :content-css="{minWidth: '80vw', minHeight: '80vh'}">
            <q-modal-layout>
                <q-toolbar slot="header">
                    <q-toolbar-title>
                        Connectez-vous
                    </q-toolbar-title>
                    <q-btn
                        color="primary"
                        v-close-overlay
                        label="Close"
                    />

                </q-toolbar>

                <div class="layout-padding">
                    <p>Ne rien faire surcette modale</p>
                </div>
            </q-modal-layout>
        </q-modal>

        <q-btn
            class="button-connect"
            v-on:click="showModale()"
            label="Connexion"
            rounded color="black"
            text-color="white"
            size="md"
        />
    </nav>
</template>

<script>
export default {
  name: 'Nav',
  props: {
    navItems: {
      type: Array,
      require: true,
    },
  },
  data() {
    return {
      opened: false,
    };
  },
  methods: {
    showModale() {
      this.opened = true;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .nav-container {
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0;
        position: relative;
        background-color: #027be3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .button-connect {
            width: 10%;
            height: 30px;
            right: 0;

        }


        .nav-list {
            width: 50%;
            height: 50px;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;


            .nav-list-item {

                display: inline;

                a{
                    text-decoration: none;
                     color: darken( #027be3, 20% );
                    &.router-link-exact-active {
                        color: white;
                    }
                }
            }
        }
    }
</style>
