<template>

  <div id="app">
        <Nav :navItems="navDatas" />
    <router-view/>
  </div>

</template>

<script>
import Nav from '@/components/Nav.vue';

export default {
  name: 'App',
  components: {
    Nav,
  },
  data() {
    return {
      //  Ici on pourrait également recuperer ces données depuis
      //  un .json afin de les passer en props Ou les récuperer via un call api
      navDatas: [
        {
          name: 'Home',
          path: '/',
        },
        {
          name: 'Integration',
          path: '/integration',
        },
        {
          name: 'Maquette',
          path: '/maquette',
        },

      ],
    };
  },
};
</script>
<style>

</style>
